@font-face {
    font-family: "MyriadProRegular";    
    src: url("../fonts/MyriadProRegular.ttf") format("truetype");
    
    font-weight: 500;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    
    url:("../fonts/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";    
    url:("../fonts/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";   
    src: url("../fonts/MyriadProSemiBold.ttf") format("truetype");    
    font-weight: 600;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";    
    url:("../fonts/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";    
    url:("../fonts/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@mixin myriad-semib-16{
    font-size: 16px;
    font-family: "MyriadProSemiBold";
}
@mixin myriad-semib-15{
    font-size: 16px;
    font-family: "MyriadProSemiBold";
}
@mixin myriad-semib-13{
    font-size: 13px;
    font-family: "MyriadProSemiBold";
}
@mixin myriad-semib-14{
    font-size: 14px;
    font-family: "MyriadProSemiBold";
}
@mixin myriad-semib-12{
    font-size: 12px;
    font-family: "MyriadProSemiBold";
}
@mixin myriad-relular-12{
    font-size: 12px;
    font-family: "MyriadProRegular";
}
@mixin myriad-relular-10{
    font-size: 10px;
    font-family: "MyriadProRegular";
}
@mixin myriad-relular-11{
    font-size: 11px;
    font-family: "MyriadProRegular";
}
@mixin myriad-relular-15{
    font-size: 15px;
    font-family: "MyriadProRegular";
}
@mixin myriad-relular-14{
    font-size: 14px;
    font-family: "MyriadProRegular";
}