
@import "_fonts.scss";

/*main code*/

body {
    background-color: #fbfbfb;
    padding-top: 40px;
    padding-bottom: 40px;
}

#header {
    .col-lg-2 {
        float: right;
    }
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding-top: -15px;
    border-top: 5px solid #777777;
    text-align: center;
    a {
        padding-top: -10px;
        margin-top: -15px;
        width: 71px;
        height: 30px;
        background-color: #fbfbfb;
        text-align: center;
        text-decoration: none;
    }
    p {
        margin-top: 10px;
        text-align: center;
        color: #555555;
        @include myriad-semib;
    }
    i {
        color: #777777;
    }
}

.home:hover i,
.video:hover i,
.camera:hover i,
.plane:hover i,
.recycle:hover i,
.television:hover i,
.child:hover i,
.bicycle:hover i,
.recycle:hover i {
    color: #fdcc05;
}

.categories a:hover p {
    color: #fdcc05;
}

input.empty {
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: inherit;
    color: #dfdfdf;
}

.search-bar {
    position: relative;
}

.search-bar {
    #iconified {
        padding: 20px;
        width: 87%;
        border-radius: 2px;
        border: 1px solid #DDDDDD;
        outline: none;
        height: 45px;
    }
    button[type="submit"] {
        position: absolute;
        right: 15%;
        top: 4px;
        color: #dfdfdf;
    }
    select {
        position: absolute;
        left: 53%;
        top: 28%;
        background: none;
        border: 1px solid #DDD;
        border-top: 0;
        border-bottom: 0;
        outline: none;
        color: #dfdfdf;
    }
}

.search-form_2,
.search-form_3 {
    position: relative;
    height: 30px;
}


.search-form_3 {
    padding: 10px;
    //width: 100%;
    border-radius: 1px;
    border: 1px solid #DDDDDD;
    outline: none;
    height: 30px;
    font-size: 14px;
    width: 98%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}




.search-form_3 {
    .grid-list {
        position: absolute;
        right: 0%;
        top: 0px;
        color: #dfdfdf;
        text-align: center;
        height: 20px;
    }
    select {
        position: absolute;
        left: 17%;
        top: 20%;
        background: none;
        border: none;
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid #DDDDDD;
        outline: none;
        color: #dfdfdf;
    }
    p {
        margin-bottom: 0px;
    }
    .grid-list {
        //position: absolute;
        li:last-child {
            margin-left: 0px;
        }
    }
    .nav-pills {
        li {
            a {
                background-color: #555555;
                height: 29px;
                border-radius: 0px;
                padding: 0px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
            }
            a:hover {
                background-color: #fdcc05;
            }
        }
    }
}
 .search-form_2 {
        display: none;
    }
    
.search-bar {
    margin-left: 12%;
}

.login-bar i {
    color: #999999;
    margin-top: 0px;
}

.login-bar {
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    //width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    float: right;
}

.logo img {
    width: 100%;
}

.login-bar {
    .nav>li>a {
        padding: 0 10px;
    }
    p {
        margin: 0 0 0px;
        color: #999999;
    }
    ul {
        text-align: center;
    }   
}

.main-container {
    margin-top: 5%;
}

.left-categories {
    display: flex;
}

.main-slider {
    .nav-pills {
        li.active {
            a {
                background-color: #555555;
                color: #ffffff;
            }
        }
        li {
            a {
                color: #555555;
                background-color: #ffffff;
                border: 1px solid #eeeeee;
            }
        }
    }
}
.left-categories-list,
.right-categories-list {
    li {
        
        width: 75px;
        height: 70px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        text-align: center;
        margin-top: 6px;
    }
    li:first-child {
        margin-top: 0px;
    }
    li {
        a {
            color: #777;
            text-decoration: none;
        }
    }
    li {
        &:hover {
        background-color: #555555;
        color: #ffffff;
        }
        a {
            img {
                margin-top: 10%;
                margin-bottom: 10%;
            }
        }
    } 
    
    li:hover p {
        color: #ffffff;
    }
}

.left-categories {
    ul {
        padding: 0px;
    }
}

.main-slider {
    padding-left: 0px;
    margin-left: 0px;
}

.main-container {
    .col-md-8 {
        padding-left: 0px;
    }
}

.right-categories-list {
    padding-right: 10%;
    border-right: 1px solid #eeeeee;
    
}

.left-categories ul:last-child {
    padding-left: 4%;
    padding-right: 15%;
}

#exTab1 {
    .tab-content {
        background-color: transparent;
        width: 100%;
        height: 275px;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    a {
        border-radius: 1px;
    }
    li {
        margin-left: 2px;
    }
    /*li:first-child {
        margin-left: 0%;
    }*/
}

.tab-content {
    .tab-pane {
        width: 100%;
    }
    .tab-pane {
        #carousel,
        #carousel-2,
        #carousel-3,
        #carousel-4,
        #carousel-5,
        #carousel-6 {
            .item {
                img {
                    height: 315px;
                    width: 100%;
                }
            }
        }
        .carousel-caption {
            position: relative;
            left: auto;
            right: auto;
            text-align: left;
        }
        .carousel-indicators {
            bottom: 150px;
        }
    }
}
.news-bar-content {
    float: right;    
    padding-left: 10px;

    .most-popular,
    .most-popular-2, .most-popular-3 {
        display: flex;
        height: 30px;
        border: 1px solid #eeeeee;
        background-color: #fff;
        align-items: center;
        margin-bottom: 6px;
    }
    .most-popular-3 {
        justify-content: space-between;
        align-items: center;
        display: flex;
        .lSliderArrows{
            a{
                color: #eeeeee;

            }
            

        }
        .most-popular-3-title{
                display: flex;
                align-items: center;
            }
    }
    .most-popular-3 {
        margin-top: 1%;
    }
    .most-popular,
    .most-popular-2, .most-popular-3 {
        img {
            padding-left: 6px;
            padding-right: 6px;
        }
        p {
            margin-bottom: 0px;
        }
    }
    .news-bar-items {
        border: 1px solid #eeeeee;
        
        margin-bottom: 6px;
        position: relative;
    }
    
    .news-bar-items-content {
        padding: 4px;
       
    }
    .news-bar-items-content {
        img {
           
            width: 100%;
        }
        h5 {
            font-size: 13px;
            margin-bottom: 0px;
        }
        p {
            font-size: 10px;
            padding-top: 0px;
        }
    }
    .votes {        
        position: absolute;
        right: 5px;
        top: 150px;
    }
    .votes {
        p:first-child {
            margin-top: 10%;
            margin-bottom: 0px;
        }
    }
}

.main-content-2 {
    margin-top: -90%;
}

.items-second {
    margin-top: 2%;
}

.items-first,
.items-second {
    display: flex;
    justify-content: space-between;
    .items:first-child {
        margin-right: 12px;
    }
    .items:last-child {
        margin-right: 1.5%;
    }
    .items {
        img {
            width: 327px;
            height: auto;
            padding: 4px;
        }
        h5 {
            font-size: 13px;
            margin-bottom: 0px;
        }
        p {
            font-size: 10px;
            padding-top: 0px;
        }
        .votes {
            float: right;
        }
        .votes {
            p:first-child {
                margin-top: 10%;
                margin-bottom: 0px;
            }
        }
        .items-content-title {
            float: left;
        }
        .main-content-2-image {
            border: 1px solid #eeeeee;
            background-color: #eeeeee;
        }
    }
    .items {
        border: 1px solid #eeeeee;
        width: 340px;
        background-color: #fff;
        padding: 4px;
    }
}

.main-container {
    .container {
        padding-left: 0px;
    }
    .main-slider {
        display: flex;
    }
    .main-contant {
        #exTab1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .col-md-9 {
            padding-left: 2%;
        }
    }
}

.youtubeVideo {
    /* continer (responsive) */
    position: relative;
    cursor: pointer;
    background: no-repeat center center / cover;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0px;
    clear: both;
    //margin-bottom: 10px;
}

.youtubeVideo::before {
    /* play bubble */
    content: '';
    background: rgba(255, 255, 255, .6);
    height: 80px;
    width: 80px;
    display: block;
    margin: -40px 0 0 -40px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
    transition: all .1s ease;
    z-index: 1;
}

.youtubeVideo:hover::before {
    /* play bubble hover */
    background: rgba(238, 238, 238, .8);
    box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
}

.youtubeVideo::after {
    /* Play Triangle */
    content: '';
    width: 0;
    height: 0;
    line-height: 0px;
    display: block;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    margin: -20px 0 0 -15px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    z-index: 2;
}


/* END Fast & Agile YouTube Embed by Schoberg.net */


/* Modal Styles */

#videoModalContainer {
    width: 100%;
    padding: 0px;
    top: 0;
    left: 0;
}

.modal-content {
    background-color: #444;
}

.modal-body {
    padding: 0px;
}

.modal-footer {
    padding: 1em;
    border-top: none;
    background-color: #444;
}

.bottom-content {
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid #eeeeee;
    padding-bottom: 2%;
}

.bottom-content {
    .bottom-header {
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        margin-bottom: 2%;
        img {
            padding-right: 3%;
        }
    }
    .magazine {
        display: flex;
        align-items: center;
        width: 50%;
        p {
            margin: 0px;
        }
    }
    .lSliderArrows {
        i {
            color: #eeeeee;
        }
        #goToPrevSlide {
            padding-right: 7px;
            border-right: 1px solid #eeeeee;
        }
        #goToNextSlide {
            padding-left: 4px;
        }
    }
    #lightSlider {
        li {
            border: 1px solid #eeeeee;
            padding: 5px;
            background-color: #ffffff;
            i {
                font-size: 10px;
            }
        }
        .lSliderCover {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: #fbfbfb;
            border: 1px solid #eeeeee;
            padding-top: 4%;
            img {
                padding-bottom: 4%;
            }
            .img-responsive {
                        display: inline;
                    }
        }
        .lSliderFooter {
            display: flex;
            justify-content: space-between;
            .votes {
                margin-top: 5%;
                p {
                    margin: 0 0 1px;
                    font-size: 11px;
                }
            }
            .lSliderSubscribe {
                display: flex;
                border-top: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;
                align-items: center;
                margin-top: 5%;
                p {
                    margin: 0 0 1px;
                    margin-left: 10px;
                }
            }
        }
    }
}

footer {
    background-color: #1f1f1f;
    padding: 1.5% 1% 0% 1%;
    .fform {
        position: relative;
    }
    .footer-form {
        height: 40px;
        input {
            width: 100%;
            background-color: #282828;
            border: none;
            color: #848484;
            padding: 5px;
        }
        button[type="submit"] {
            position: absolute;
            top: 5px;
            right: 8%;
            background-color: #1f1f1f;
            color: #848484;
        }
    }
    .social-media {
        display: flex;
        align-items: center;
        padding-top: 5px;
        a {
            margin-left: 4%;
            i {
                color: #323232;
            }
        }
        a:first-child {
            margin-left: 0%;
        }
    }
    .list-inline {
        text-align: right;
        li {
            a {
                color: #bbbbbb;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .search-bar {
        select {
            left: 47%;
        }
    }
    .main-content-2 {
    margin-top: -85%;
    }
}

/* start media 992px */

@media screen and (max-width:992px) {
    .youtubeVideo::before {
        height: 60px;
        width: 60px;
        top: 60%;
        left: 56%;
    }
    .youtubeVideo:hover::before {
        height: 70px;
        width: 70px;
        margin: -45px 0 0 -45px;
    }
    .search-bar {
        margin-left: 2%;
    }
    .search-bar {
        select {
            left: 43%;
        }
    }
    .left-categories-list,
    .right-categories-list {
        li {
            width: 100%;
            height: 72px;
        }
        li {
            a {
                img {
                    margin-bottom: 1%;
                }
            }
        }
    }
    .main-container {
        .top-news {
            .col-sm-3 {
                padding-left: 0px;
            }
        }
    }
    .news-bar-content {
        .most-popular,
    .most-popular-2, .most-popular-3{
        font-size: 10px;
    }
    .most-popular-3{
        margin-top: 9%;
        .lSliderArrows{
            a{
            i{
                font-size: 19px;
            }
        }
        }
        
    }
        .news-bar-items-content {
            h5 {
                font-size: 10px;
                margin-bottom: 0px;
            }
            p {
                font-size: 8px;
                padding-top: 0px;
            }
            img {
                        //height: 100px;
                    }
                    .votes {
                        top: 110px;
                    }
        }
    }
    .right-categories-list {
        border-right: none;
        padding-right: 0%;
    }
    #exTab1 {
        .nav {
            text-align: center;
        }
        .nav-pills {
            li {
                float: none;
                display: inline-block;
            }
        }
        .environment,
        .travel {
            margin-top: 1%;
        }
        .tab-content {
            margin-top: 19px;
            .tab-pane {
                    #carousel,
                    #carousel-2,
                    #carousel-3,
                    #carousel-4,
                    #carousel-5,
                    #carousel-6 {
                        .item {
                            img {
                                height: 215px;
                            }
                        }
                    }
                }
        }
    }
    
    .items-first,
    .items-second {
        flex-direction: column;
    }
    .items-first,
    .items-second {
        text-align: center;
        .items {
            border: 1px solid #eeeeee;
            width: 100%;
            background-color: #fff;
            padding: 4px;
            margin-top: 1%;
            .img-responsive {
                display: inline;
            }
        }
    }
    .main-content-2 {
        margin-top: -80%;
    }
    .bottom-content {
        #lightSlider {
            .lSliderCover {
                font-size: 12px;
                .img-responsive {
                    display: inline;
                }
            }
        }
    }
}


/*end media 992 */


/*media  1200 */



/*end media 1200 */

@media screen and (max-width: 1100px) {
    .left-categories ul:last-child {
        padding-right: 8%;
    }
}

@media screen and (max-width:767px) {
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 80%;
    }
    .search-bar {
        select {
            display: none;
        }
        button[type="submit"] {
            right: 5%;
        }
        #iconified {
            width: 100%;
        }
    }
    .search-bar {
        margin-top: 4%;
        margin-left: 0%;
    }
    .login-bar {
        float: none;
        margin-top: 4%;
        //width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .login-bar {
        .navbar-nav {
            display: flex;
        }
    }
    .categories {
        flex-wrap: wrap;
        border: none;
        align-items: space-around;
    } 
    .main-content-2 {
        margin-top: 0%;
    }
    .news-bar-content {
        float: none;
        padding-left: 0px;
        // margin-top: 20%;
        .most-popular-news {
            display: flex;
            flex-direction: column;
            text-align: center;
            .votes {
                position: relative;
                top: 0px;
                right: 0px;
                margin-top: -10%;
            }
            .news-bar-items-content{
                img{
                    height: auto;
                    width: auto;
                }
            } 

        }
        .most-popular-2{
            margin-top: 2%;

        }
        .most-popular-3{
            display:none;
        }
        .carousel-8{
            display: none;
        }
    }
    .items-second,
    .items-first {
        .main-content-2-image {
            text-align: center;
            background-color: #eeeeee;
        }
        .votes {
            float: none !important;
            margin-top: -10%;
        }
        .items-content-title {
            float: none !important;
        }
        p {
            text-align: center;
        }
    }
    .main-container {
        .main-slider {
            justify-content: center;
        }
    }
    .search-form_2 {
        display: none;
    }
    .search-form_3 {
        display: block;
        margin-bottom: 2%;
        width: 100%;
        p{
            margin-top: -5px;
        }
        select{
            display: none;
        }
    }
    #header {
        .col-lg-2,
        .col-md-3,
        .col-sm-3 {
            float: none;
        }
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .youtubeVideo::before {
        /* play bubble */
        content: '';
        background: rgba(255, 255, 255, .6);
        height: 80px;
        width: 80px;
        display: block;
        margin: -40px 0 0 -40px;
        border-radius: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
        transition: all .1s ease;
        z-index: 1;
    }
    .youtubeVideo:hover::before {
        /* play bubble hover */
        background: rgba(238, 238, 238, .8);
        box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
    .bottom-content {
        #lightSlider {
            .lSliderFooter {
                flex-direction: column;
                text-align: center;
                .lSliderSubscribe {
                    justify-content: center;
                    p {
                        margin-left: 2px;
                    }
                }
            }
        }
        .magazine {
            width: 70%;
        }
    }
    footer {
        .social-media {
            justify-content: center;
        }
        .list-inline {
            text-align: center;
        }
        .text-right {
            text-align: center;
        }
        .footer-form {
            button[type="submit"] {
                right: 3%;
            }
        }
    }
    .tab-content {
                margin-top: 19px;
                .tab-pane {
                    #carousel,
                    #carousel-2,
                    #carousel-3,
                    #carousel-4,
                    #carousel-5,
                    #carousel-6 {
                        .item {
                            img {
                                height: 315px;
                            }
                        }
                    }
                }
            }
        }

@media screen and (max-width:691px) {
    .categories {
        a {
            margin-bottom: 10%;
            margin-left: 2.5%;
            margin-right: 4%;
            text-align: center;
        }
    }
}

@media screen and (max-width:530px) {
    .categories {
        a {
            margin-bottom: 15%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-left: auto;
            padding-right: auto;
        }
    }
}
